<li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
  <div class="product product-style-3 equal-elem d-block px-0 mt-2">
    <div class="product-thumnail d-block">
      <%= link_to product do %>
        <figure class="w-100">
          <%= image_tag show_image(product), class: "w-100", alt: "" %>
        </figure>
      <% end %>
    </div>
    <div class="product-info">
      <div class="font-weight-bold">
        <%= product.name %>
      </div>
      <div class="wrap-price"><span class="product-price font-weight-normal text-danger"><span><%= number_to_currency(product.price, locale: :vi) %></span></div>
    </div>
  </div>
</li>
